<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>add title tag<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/pygments/css/default.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1><a href="/">name the site</a></h1>
          <p class="lead text-muted">
            subtext
          </p>
        </div>

        <div class="col-lg-8">
          <%= yield %>
        </div>

        <div class="col-lg-4">
          <div class="text-right">
            <img class="img-circle" width=75 height=75 src=""/>
            <h4>Erik Grueter</h4>
            <p>subtext description</p>
            <p><a href="">Twitter</a> | <a href="">GitHub</a> | <a href="">LinkedIn</a></p>
          </div>

          <h3>Tags</h3>
          <ol>
            <% blog.tags.each do |tag, articles| %>
              <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
            <% end %>
          </ol>

          <h3>By Year</h3>
          <ol>
            <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
              <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
            <% end %>
          </ol>
        </div>
      </div>
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <hr>
          © <%= Date.today.year %> Erik Grueter <a href="">RSS</a>
        </div>
      </p>
    </footer>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      // Swap out google analytics ID
      ga('create', 'UA-6610062-9', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
